# ignore file with specific extensions
*.o
*.exe
*.bak
*.bk
*.dat
*.mti
*.mpf
*.do
*.wlf

# ignore file with the name
transcript

#ignore "work" folder, regardless of its location
**/work/

**/.vscode/